body {
       //color: white;
       //background: #252525
}
input[type="search"] {
      // color: white;
}
input[type="submit"] {
       
}

#header {
       margin: 0 auto 20px;
          text-align: center;
             text-decoration: underline;
}

#img {
       display: flex;
}
#img img {
       width: 12rem; /* 12 */
          margin: auto;
             border-radius: 50%;
}

main {
       width: 380px;
          margin: 20px auto 0;
             //border: 1px solid
}

#follow {
       display: flex;
          align-items: center;
             margin: 10px auto;
                text-align: center;
                   //border: 1px solid
}

#followers, #following {
       width: 50%;
          //border: 1px solid teal
}

#fill {
       line-height: 1.7;
          //border: 1px solid teal
}

#links {
       display: flex;
          align-items: center;
             justify-content: space-around;
                //border: 1px solid yellow
}
.links {
       
}

.git-stat {
       width: 100%;
}

.error {
       color: red;
}

a {
       color: black;
          
}

@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}

